.nav-container {
  background-color: var(--brand-alt);
  text-indent: 220px;
  padding: 1em 2em;
}

.nav-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.menu-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
}

.brand-title {
  font-size: 2rem;
  color: var(--brand);
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
}

.brand-title:hover {
  filter: brightness(80%);
}

.nav-link {
  text-decoration: none;
  color: var(--brand-dark-gray);
  padding: 1em;
  cursor: pointer;
}

.nav-link:hover {
  text-decoration: underline;
}

.btn-blue {
  padding: 1em;
  background-color: var(--brand);
  color: var(--brand-alt);
  border: 0;
  font-weight: 500;
  border-radius: 4px;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  font-size: 1.1rem;
}

.btn-blue:hover {
  filter: brightness(80%);
}
