.main-div {
  background-color: var(--brand-alt);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  padding: 2em 1em;
}

.navbar-header {
  color: white;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.selected-laundry-room-name-div {
  background-color: rgba(0, 0, 0, 0.2);
  width: 98%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
  padding-right: 0px;
}

.laundry-room-name-div {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
  cursor: pointer;
}

.laundry-room-name {
  margin-left: 10px;
  font-size: 15px;
}

.top-navbar {
  background-color: white;
  height: 100px;
  width: 84.5%;
  right: 0px;
  position: absolute;
  z-index: 2;
}

.washers {
  padding: 5px;
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  gap: 1em;
}
.dryers {
  padding: 5px;
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  gap: 1em;
}
.title {
  margin: 0;
}

.washer {
  width: 150px;
  height: 150px;
  border: solid;
  border-color: black;
  border-radius: 5px;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.in-use {
  color: red;
  font-weight: bold;
}

.free {
  color: green;
  font-weight: bold;
}

.ooo {
  color: orange;
  font-weight: bold;
}
